@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --crimson:#eb153d;
    --black:#adacac;
    --light-color:#dfeb7a;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}


*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding:1rem 5%;
    background-color: #000000;
}

section:nth-child(even){
    background:#f10606;
}

.sub-heading{
    text-align: center;
    color:var(--crimson);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#440f0f;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
    background-color: #fa0532;
}

.btn:hover{
    background: rgb(252, 160, 160);
    letter-spacing: .1rem;
    color: #eee;
}
#he1{
    box-shadow: 1px,0px,10px#eee;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #000000;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
 
}
h1{
    color: #b5e40a;
    font-size: 15px;
    font-weight: 900;
    

}

header .logo{
    
    font-size: 2.5rem;
    font-weight: bolder;
    background: -webkit-linear-gradient(#ee219f,#eec5d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
h3{
    
    font-weight: bolder;
    background: -webkit-linear-gradient(#eff30d,#ffffff,#ee145d);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
/*  */

/* header .logo i{
   
} */

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:rgb(209, 183, 183);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--crimson);
}

#logIn{
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
}


.box{
    height: 400px;
    width: 500px;

}

#box1:hover{
    border-radius: 10px;
    border-width: 5px ;
    box-shadow: 1px,15px,15px rgb(240, 2, 2);
    border-color: #f56985;
    /* background-color: #000000; */
}


.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem; 
    color: #eee;
    background-color: #000000;
    padding-top: 9rem;
    
}
/* */
.image{
    height: 300px;;
    width: 300px;
    padding: 20px;
}

#home{
    background-color: #000000;
}
.home .home-slider .slide .content{
    flex:1 1 45rem;
}

.home .home-slider .slide .image{
    flex:1 1 45rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color:var(--crimson);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color:var(--black);
    font-size: 7rem;
}

.home .home-slider .slide .content p{
    color:var(--light-color);
    font-size: 2.2rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background:var(--crimson);
}



.menu .box-container{
    /* margin-top: 20px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    background: #f80000;
    border:.1rem solid rgba(255, 0, 0, 0.2);
    border-radius: .5rem;
    margin-top: 15px;
    box-shadow: var(--box-shadow);    
}

.menu .box-container .box .image{
    height: 39rem;
    width: 764%;
    padding:1.rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .box .image img{
    height: 97%;
    width: 7%;
    border-radius: 1.5rem;
    object-fit: cover;
}

/* .menu .box-container .box .image .fa-heart{
    position: absolute;
    top:2.2rem; 
    right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
} */


.menu .box-container .box .content{
    padding:2rem;
    padding-top: 0;
}

.menu .box-container .box .content h3{
    color:var(--black);
    font-size: 2.5rem;
}

.menu .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color:var(--crimson);
    margin-left: 1rem;
    font-size: 2.5rem;
}



.services .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.services .row .image{
    flex:1 1 45rem;
}

.services .row .image img{ 
    width: 100%;
}

.services .row .content{
    flex:1 1 45rem;
}

.services .row .content h3{
    color:var(--black);
    font-size: 4rem;
    padding:.5rem 0;
}

.services .row .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
}

.services .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}

.services .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.services .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--crimson);
}

.services .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}


.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color:var(--black);
}

.footer .box-container .box a{
    display: block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.footer .box-container .box a:hover{
    color:var(--crimson);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color:var(--black);
    padding:.5rem;
    padding-top: 2.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color:var(--crimson);
}

/* */





/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#000000;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }


    section .footer{
        background-color: #000000;

    }
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    background-color: #000000;
    
}

.footer .box-container .box h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color:var(--black);
}

.footer .box-container .box a{
    display: block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.footer .box-container .box a:hover{
    color:var(--crimson);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color:red;
    padding:.5rem;
    padding-top: 2.5rem;
    margin-top: 1.5rem;
    border-radius: 5px;
}

.footer .credit span{
    color:var(--crimson);
}

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }

}
.image{
    background-color: transparent ;
}


